<?xml version="1.0"?>
<!--
/**
 * SolideWebservices/GroupedProductTaxFix
 *
 * @category Magento2_Module
 * @package  GroupedProductTaxFix
 * @author   Solide Webservices <contact@solidewebservices.com>
 * @license  https://opensource.org/licenses/OSL-3.0 Open Software License 3.0
 * @version  1.0.0
 * @link     https://solidewebservices.com
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
	<module name="SolideWebservices_GroupedProductTaxFix" setup_version="1.0.0" />
</config>
